body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: rgb(230, 229, 244);
}


h1{
    color:rgb(78, 68, 209);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 3em;
}

h2{
    color:rgb(122, 127, 209);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h2{
    color:rgb(122, 127, 209);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h3{
    color:rgb(122, 127, 209);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

