{% extends "layout.html" %}
{% block title %} {{ category_name }} {% endblock %}
{% block content %}
<h2>{{ category_name }}</h2>

{% if not messages %}
<b> No conversations in this category yet. </b><br>
<br>
{% endif %}

{% for message in messages %}
<p><a href="/message/{{ message.id }}">{{ message.title }}</a></p>
{% endfor %}

{% if session.user_id %}</b><br>
<a href="/newmessage">Start a conversation</a> <br>
{% else %}

To start a conversation or to comment <a href="/login">Login</a> or <a href="/register">Register</a>
{% endif %}

{% endblock %}