{% if session.username %}
<h2>Movies & Series Forum</h2>
<p>You are logged in as <b>{{ session.username }}</b></p>
<br>
<h3><b>Messages</b></h3>
<hr>
{% for message in messages %}
<i>Category:</i> {{ message.category_name }}
<p>
<i>Title:</i> {{ message.title }}
<p>
<i>From user:</i> {{ message.username }}
<p>
<i>Message:</i> {{ message.content }}
<hr>
{% endfor %}
<br>
<a href="/newmessage">Start a conversation</a> | <a href="/logout">Logout</a>
{% else %}
<h2>Movies & Series Forum</h2>
<br>
<h3><b>Messages</b></h3>
<hr>
{% for message in messages %}
<i>Category:</i> {{ message.category_name }}
<p>
<i>Title:</i> {{ message.title }}
<p>
<i>From user:</i> {{ message.username }}
<p>
<i>Message:</i> {{ message.content }}
<hr>
{% endfor %}
<br>
To start a conversation or to comment <a href="/login">Login</a> or <a href="/register">Register</a>
{% endif %}
