{% extends "layout.html" %}
{% block title %}Message{% endblock %}
{% block content %}

<h2>{{ message[0][0] }}</h2>
<p><i>From user: {{ message[0][3] }}</i></p>
<p>{{ message[0][1] }}</p>
<p>Likes: {{ likes }}</p>

{% if session.user_id %}
<form action="/like_message" method="post">
    <input type="hidden" name="message_id" value="{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input id="button" type="submit" value="Like">
</form>
{% else %}
<a href="/login">Login</a> to like this message!
{% endif %}

<hr>
<h3>Comments:</h3>
{% if comments %}
    {% for comment in comments %}
    <p><i>From user: {{ comment.username }}</i></p>
    <p>{{ comment.content }}</p>
<hr>
{% endfor %}

{% else %}
<b>No comments yet. Maybe write one. :)</b>

{% endif %}

<form action="/comment" method="post">
    <h3>Add a comment:</h3>
    {% if session.user_id %}
    <textarea name="content" rows="4" cols="40" required minlength="1" maxlength="500"></textarea></p>
    <input type="hidden" name="message_id" value="{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Comment">
    {% else %}
    <a href="/login">Login</a> to add a comment!
    {% endif %}
{% endblock %}