{% extends "layout.html" %}
{% block title %}New message{% endblock %}
{% block content %}

<h2 class="text-center">Start a new conversation</h2>
<form action="/newmessage" method="post">
<div class="text-center">

<p>Title<br>
    <input type="text" name="title" minlength="1" maxlength="30"></p>

    <input type="radio" name="category_id" value="1"> Action
    <input type="radio" name="category_id" value="2"> Comedy
    <input type="radio" name="category_id" value="3"> Drama
    <input type="radio" name="category_id" value="4"> Fantasy
    <input type="radio" name="category_id" value="5"> Horror
    <input type="radio" name="category_id" value="6"> Romance
    <input type="radio" name="category_id" value="7"> Thriller
    <input type="radio" name="category_id" value="8"> Other

    <p>Message<br>
    <textarea name="message" rows="10" cols="70" maxlength="1000"></textarea></p>
    <p>
    <p>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Post">

    </form>

</div>
{% endblock %}